
:root {
    --body: #f3f8fe;
    --orange: #FEC868;
    --pink: #FF708D;
    --purple: #DCC1FC;
    --green: #A3E487;

    --hover-pink: #e94e6d;
    --hover-purple: #ae7deb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    gap: 2%;
    background-color: var(--body);
}

#navbar {
    padding: 0px;
}

.container-fluid {
    background-color: #DCC1FC;
    border-color: 10px solid #DCC1FC;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 2%;
}

.classes-attendance {
    width: 90%;
    height: 70vh;
    gap: 2%;
}

.class-attendance {
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
    border-radius: 10px;
    margin-top: 0.5%;
}

.accordion{
    border-radius: 10px;
}

.form-check-input:checked{
    background-color: var(--hover-purple);
}

.accordion.active .students-container {
    display: block;
}

.expand-button {
    transition: transform 0.3s;
}

.accordion.active .expand-button {
    transform: rotate(180deg);
}

.students-container {
    display: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 25%;
}

#btnExpand{
    cursor: pointer;
}

button {
    background-color: var(--body);
    border: none;
    border-radius: 5px;
    width: 130%;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    height: 6vh;
}


@media screen and (max-width: 768px) {
    h5 {
        font-size: 1rem;
    }

    .classes-schedule {
        width: 90%;
    }

    .class-one-schedule {
        padding: 2%;
    }

    footer {
        position: static;
        text-align: center;
        font-size: 14px;
        padding: 1%;
    }
}

.gray-background {
    background-color: #ccc;
    /* ou a cor de fundo desejada */
}