:root{
    --body: #f3f8fe;
    --orange: #FEC868;
    --pink: #FF708D;
    --purple: #DCC1FC;
    --green: #A3E487;

    --hover-pink: #e94e6d;
    --hover-purple: #ae7deb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--body);
}

header {
    display: flex;
    background-color: var(--orange);
    height: 6vh;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 100px;
    height: 100px;
}

main {
    display: flex;
    flex: 1;
}

.initial-components {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.teacher-btn{
    color: #000;
    width: 45%;
    height: 40px;
    background-color: var(--pink);
    border: none;
    border-radius: 20px;
}

.teacher-btn:hover{
    background-color: var(--hover-pink);
    color: #000;
}

.guardian-btn{
    color: #000;
    width: 45%;
    height: 40px;
    background-color: var(--purple);
    border: none;
    border-radius: 23px;
}

.guardian-btn:hover{
    background-color: var(--hover-purple);
    color: #000;
}

aside {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 88vh;
}

.aside-backgound-img {
    height: 95vh;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    height: 6vh;
}

@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
  
    header {
      height: 8vh;
      margin-bottom: 2%;
    }
  
    .header-logo {
      width: 80px;
      height: 80px;
    }
  
    main {
      flex-direction: column;
      text-align: center;
    }
  
    .section-buttons {
      width: 80%;
    }
  
    .teacher-btn,
    .guardian-btn {
      width: 100%;
    }
  
    aside {
      justify-content: center;
    }
  
    .aside-backgound-img {
      height: auto;
      max-width: 100%;
    }
  
    footer {
      position: static;
      text-align: center;
      font-size: 14px;
      padding: 1%;
    }
  }