
:root {
    --body: #f3f8fe;
    --orange: #FEC868;
    --pink: #FF708D;
    --purple: #DCC1FC;
    --green: #A3E487;

    --hover-pink: #e94e6d;
    --hover-purple: #ae7deb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    gap: 2%;
    background-color: var(--body);
}

#navbar {
    padding: 0px;
}

.container-fluid {
    background-color: #DCC1FC;
    border-color: 10px solid #DCC1FC;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 2%;
}

.classes-performances {
    width: 90%;
    height: 70vh;
    gap: 2%;
}

.class-performance {
    display: flex;
    flex-direction: row;
    /* background-color: var(--pink); */
    height: 7vh;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
    border-radius: 10px;
    margin-top: 0.5%;
}


.rating {
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    font-size: 24px;
    color: #ddd;
}

.rating label:hover,
.rating label:hover~label {
    color: #f39c12;
}

.rating input:checked~label,
.rating input:checked~label:hover,
.rating input:checked~label:hover~label {
    color: #f39c12;
}

#submitBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    height: 6vh;
}