@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Noto+Sans+Mono&display=swap');

:root {
    --body: #f3f8fe;
    --orange: #FEC868;
    --pink: #FF708D;
    --purple: #DCC1FC;
    --green: #A3E487;

    --hover-pink: #e94e6d;
    --hover-purple: #ae7deb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    gap: 2%;
    background-color: var(--body);
}

#navbar {
    padding: 0px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 220px;
    max-height: 50vh;
    overflow: hidden;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}

#user-pic-text {
    visibility: hidden;
}

.sub-menu-wrap.open-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}

.sub-menu {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2vh;
    margin: 2vh;
    border-radius: 10%;
}


.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ae7deb;
    margin: 1vh 0;
}

.sub-menu-link p {
    flex-grow: 1;
    height: 2vh;
}

.sub-menu-link img {
    width: 5vw;
    margin-right: 2vw;
}

.sub-menu-link span {
    font-size: 2vh;
    transition: transform 0.5s;
}


.container-fluid {
    background-color: #DCC1FC;
    border-color: 10px solid #DCC1FC;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 2%;
}

.classes-schedule {
    width: 90%;
    height: 70vh;
    gap: 2%;
}

.class-schedule {
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
    border-radius: 10px;
    margin-top: 1%;
}

.material-symbols-outlined {
    cursor: pointer
}

.notMarked {
    transition: transform 0.3s;
    transform: rotate(0deg); 
}

.accordion.active .notMarked {
    transform: rotate(180deg);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-vw-title,
.modal-title {

    font-size: 1.3em;
}

.modal-vw-content,
.modal-content {
    background-color: var(--pink);
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 60vh;
    gap: 3%;
}


.modal-vw-info,
.modal-info {

    display: flex;
    text-align: center;
    flex-direction: column;
}

.close-vw,
.close {
    color: var(--body);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: static;
    width: 24px;
    height: 24px;
}

.close-vw:hover,
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.input-class,
.input-title {
    background-color: var(--body);
    border: none;
    box-shadow: none;
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    padding-left: 1%;
}

.reminder-content {
    display: flex;
    flex-direction: row;
}

.input-message {
    background-color: var(--body);
    border: none;
    box-shadow: none;
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    padding-left: 1%;
    padding-top: 1%;
}

#clip {
    position: absolute;
    right: 3%;
    padding-top: 1%;
    color: var(--pink);
}

.hidden {
    display: none;
}

.add-reminder-button {
    width: 50%;
    height: 6vh;
    background-color: var(--purple);
    align-self: center;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.add-reminder-button:hover {
    background-color: var(--hover-purple);
}

.schedule-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

.accordion {
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    height: 6vh;
}

@media screen and (max-width: 768px) {
    h5 {
        font-size: 1rem;
    }

    .classes-schedule {
        width: 90%;
    }

    .class-one-schedule {
        padding: 2%;
    }

    .sub-menu-link div,
    #user-pic {
        display: none;
    }

    #user-pic-text {
        visibility: visible;
    }

    footer {
        position: static;
        text-align: center;
        font-size: 14px;
        padding: 1%;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {

    .sub-menu-link div,
    #user-pic {
        display: none;
    }

    #user-pic-text {
        visibility: visible;
    }

}