:root {
    --body: #f3f8fe;
    --orange: #FEC868;
    --pink: #FF708D;
    --purple: #DCC1FC;
    --green: #A3E487;
    --background: #e7e7e7;

    --hover-pink: #e94e6d;
    --hover-purple: #ae7deb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-purple{
    background-color: var(--purple);
}

.bg-green{
    background-color: var(--green);
}